data_studies/condor/errors
data_studies/condor/logs
data_studies/condor/macros
data_studies/condor/outputs
data_studies/condor/sh
data_studies/condor/submit
data_studies/condor/dag_arguments
data_studies/condor/dag_arguments_bipo
data_studies/condor/dag_error_bipo
data_studies/condor/dag_log_bipo
data_studies/condor/dag_output_bipo
data_studies/condor/dag_sh_bipo
data_studies/condor/dag_submit_bipo
data_studies/condor/reproc_dag.dag.*
data_studies/scripts/background_model/*.pdf
data_studies/scripts/background_model/*.png
data_studies/scripts/*.npy
data_studies/condor/dag_error
data_studies/condor/dag_log
data_studies/condor/dag_output
data_studies/condor/dag_submit
data_studies/condor/dag_sh_reproc
data_studies/condor/dag_macros_reproc
data_studies/condor/dag_arguments_reproc
data_studies/condor/dag_error_reproc
data_studies/condor/dag_output_reproc
data_studies/condor/dag_log_reproc
data_studies/condor/dag_submit_reproc
data_studies/condor/analysis_dag.dag.*
data_studies/condor/bipo_dag.dag.*
data_studies/extracted_data
data_studies/plots
mc_studies/condor/errors
mc_studies/condor/logs
mc_studies/condor/macros
mc_studies/condor/outputs
mc_studies/condor/sh
mc_studies/condor/submit
mc_studies/plots
mc_studies/run_by_run_pdf
mc_studies/run_by_run_test
mc_studies/scripts/*.pdf
mc_studies/scripts/*.npy
mc_studies/scripts/bias_and_pull_arrays
mc_studies/scripts/jesushchrist
mc_studies/scripts/*.png
tpmuonfollowercut_0.json
data_studies/scripts/background_model/data_energy_spectrums